.body-home {
    display: inline-block;
    background-color: aliceblue;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title-home {
    text-align: center;
}

.title-home-text {
    font-size: 40px;
}

.text-title {
    font-size: 18px;
}

.container-home-1 {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.img-container-home-1 {
    width: 700px;
    height: 350px;
    justify-content: center;
    padding: 0px 15px;
}

.img-home-1 {
    width: 100%;
    height: 100%;
}

.span-container-home-1 {
    width: 600px;
    height: 300px;
    text-align: center;
    justify-content: center;
}

.text-container-home-1 {
    font-size: 20px;
    font-family: serif;
}

.container-home-2 {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}

.text-container-home-2 {
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
}

.container-home-3 {
    width: 100%;
    height: 360px;
    justify-content: center;
    text-align: center;
    padding: 0px 50px;
}

.img-container-home-2 {
    width: 100%;
    height: 100%;
}

.img-home-2 {
    width: 100%;
    height: 100%;
}


@media(max-width: 900px) {

    .container-home-2 {
        width: 100%;
        justify-content: center;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .title-home-text {
        font-size: 35px;
    }

    .text-title {
        font-size: 18px;
    }

    .text-container-home-1 {
        font-size: 18px;
        font-family: serif;
    }

    .text-container-home-2 {
        font-size: 18px;
        font-family: serif;
        font-weight: bold;
    }

}


@media(max-width: 600px) {

    .container-home-1 {
        width: 100%;
        height: 400px;
        display: inline-block;
        justify-content: center;
    }

    .container-home-2 {
        width: 100%;
        justify-content: center;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .img-container-home-1 {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px 50px;
    }

    .img-home-1 {
        width: 100%;
        height: 100%;
    }

    .span-container-home-1 {
        width: 100%;
        height: 190px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .title-home-text {
        font-size: 30px;
    }

    .text-title {
        font-size: 16px;
    }

    .text-container-home-1 {
        font-size: 16px;
        font-family: serif;
    }

    .text-container-home-2 {
        font-size: 16px;
        font-family: serif;
        font-weight: bold;
    }

}

@media(max-width: 530px) {

    .container-home-1 {
        width: 100%;
        height: 400px;
        display: inline-block;
        justify-content: center;
    }

    .container-home-2 {
        width: 100%;
        justify-content: center;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .img-container-home-1 {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px 50px;
    }

    .img-home-1 {
        width: 100%;
        height: 100%;
    }

    .span-container-home-1 {
        width: 100%;
        height: 230px;
        padding: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .title-home-text {
        font-size: 30px;
    }

    .text-title {
        font-size: 16px;
    }

    .text-container-home-1 {
        font-size: 16px;
        font-family: serif;
        font-weight: bold;
    }

    .text-container-home-2 {
        font-size: 16px;
        font-family: serif;
        font-weight: bold;
    }

}


@media(max-width: 420px) {

    .container-home-1 {
        width: 100%;
        height: 400px;
        display: inline-block;
        justify-content: center;
    }

    .container-home-2 {
        width: 100%;
        justify-content: center;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .img-container-home-1 {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px 50px;
    }

    .img-home-1 {
        width: 100%;
        height: 100%;
    }

    .span-container-home-1 {
        width: 100%;
        height: 280px;
        padding: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .title-home-text {
        font-size: 30px;
    }

    .text-title {
        font-size: 16px;
    }

    .text-container-home-1 {
        font-size: 16px;
        font-family: serif;
        font-weight: bold;
    }

    .text-container-home-2 {
        font-size: 16px;
        font-family: serif;
        font-weight: bold;
    }

}

@media(max-width: 360px) {

    .container-home-1 {
        width: 100%;
        height: 400px;
        display: inline-block;
        justify-content: center;
    }

    .container-home-2 {
        width: 100%;
        justify-content: center;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .img-container-home-1 {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px 50px;
    }

    .img-home-1 {
        width: 100%;
        height: 100%;
    }

    .span-container-home-1 {
        width: 100%;
        height: 320px;
        padding: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .title-home-text {
        font-size: 30px;
    }

    .text-title {
        font-size: 16px;
    }

    .text-container-home-1 {
        font-size: 16px;
        font-family: serif;
        font-weight: bold;
    }

    .text-container-home-2 {
        font-size: 16px;
        font-family: serif;
        font-weight: bold;
    }

}